html, body {
    flex-wrap: wrap;
}

body {
    background: linear-gradient(-45deg, #6b9b58, #7ed0e9, #7ea4eb,#00b2f8);
    background-size: 1900% 1900%;
    animation: gradient 30s ease infinite;
}

.container {
    margin-top: 150px;
    margin-bottom: 60px;
    background-color: rgb(223, 245, 214);
    flex-wrap: wrap;
}

footer {
    padding-bottom: 10px;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
